@model IEnumerable<ElectionModel>
<style>
    .navbar {
        background-color: var(--primary);
    }
</style>
<nav class="navbar">
    <div class="navbar-left">
        <a class="navbar-brand" href="/">
            <span>EasyVote</span>
        </a>
    </div>
    <div class="navbar-toggle" id="navbar-toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <ul class="navbar-menu" id="navbar-menu">
        <li class="navbar-item"><a href="/Vote/VoterDashBoard">DashBoard</a></li>
        <li class="navbar-item"><a href="/Account/Login">Logout</a></li>
    </ul>
</nav>






